<ion-header>
  <ion-navbar>
    <ion-title>
      Salidas <ion-badge *ngIf="visitas" color="dark">{{visitas.length}}</ion-badge>
    </ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let visita of visitas">

      <ion-item>

          <!--
          <div style="float: left; margin-right: 10px; max-width: 180px;"><img #avatarImage id="avatarImage" style="margin: auto;border-radius: 6px;  " [src]="getAvatarUrl(visita.visitante)"></div>
          -->

          <ion-thumbnail item-left>
            <img [src]="getAvatarUrl(visita.visitante)" style="border-radius: 6px;">
            <ion-badge style="margin-top: 3px;margin-left: 5px;">{{visita.gafete}}</ion-badge>
          </ion-thumbnail>

          <div>
            <p>Nombre</p>
            <strong style="margin-left: 8px;">{{visita.visitante.nombre}} {{visita.visitante.apellido}}</strong>
            <p class="etiqueta">Empresa</p>
            <var style="margin-left: 8px;">{{visita.visitante.empresa}}</var>
            <p class="etiqueta">Visita a</p>
            <var style="margin-left: 8px;">{{visita.empleado.nombre}}</var>
            <p class="etiqueta">Entrada</p>
            <var style="margin-left: 8px;">{{visita.entrada | date: 'medium'}}</var>
          </div>
          <!--<h5 style="position: absolute; top: 16px; left:16px; font-size: 14px; color: #626262;">{{visita.id}}</h5>-->

      </ion-item>

      <ion-item-options side="left">
        <ion-buttons right style="height:100%;">
          <button ion-button color="danger" (click)="darSalida(visita)" icon-left style="height:100%;">
            Salida
            <ion-icon name="log-out" style="transform: rotate(180deg);"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-content>

